@keyframes spinscale{
    from{
        transform: rotate(0deg) scale(0);
    }
    to{
        transform: rotate(720deg) scale(1.5);
    }
}

@keyframes spinscale2{
    from{
        transform: rotate(0deg) scale(0);
    }
    to{
        transform: rotate(720deg) scale(1);
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}

@keyframes scale{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.7);
    }
}

@font-face{
    font-family: myfont;
    src: url(./fonts/Audiowide-Regular.ttf);
}

p{
    color: lawngreen;
    font-family: myfont;
    font-size: 3vw;
    background-color: rgb(0, 0, 255);
    display: flex;
    justify-content: center;
    /*animation: scale 0.5s linear infinite;*/
}

.alien{
    width: 5vw;
    animation: spinscale 3s ease-out infinite;
}

.trumps{
    width: 10%;
    border: 5% solid transparent;
    animation: spin 4s linear infinite;
}

#trumptimeline1 {
    display: flex;
    justify-content: center;
}

#trump7{
    width: 35%;
    border: 7vw solid transparent;
    position: relative;
}

#finalimage{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    animation: scale 0.5s linear infinite;
}

#image{
    width: 100vw;
    animation: fadein 15s linear;
    position: absolute;
}

@keyframes fadein{
    from{
        transform: scale(1.5);
        opacity: 0%;
    }
    to{
        transform: scale(1);
        opacity: 100%;
    }
}

#alienlink{
    display: flex;
    justify-content: center;
}

#about{
    font-size: 4vw;
    background-color: transparent;
    position: relative;
}

#aboutmetext{
    animation: spinscale2 3s;
}

body{
    background-image: url("images ordener/background.jpg");
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
}