.alien{
    width: 10vw;
    animation: spincolor 2s linear infinite;
}
@keyframes spincolor{
    from{
        transform: rotate(0deg);
        background: rgb(0, 255, 38);
    }
    to{
        transform: rotate(360deg);
        background: rgb(255, 0, 0);
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}

@keyframes scale{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(-1);
    }
}


p{
    color: rgb(0, 255, 85);
    font-size:5vw ;
    font-family: myfont;
    background-color: rgb(0, 0, 255);
    display: flex;
    justify-content: center;

}

@font-face{
    font-family: myfont;
    src: url(./fonts/BitcountGridDoubleInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf);
}

.trumps{
    width: 10vw;
    animation: spin 4s linear infinite;
}

#trumptimeline1 {
    display: flex;
    justify-content: center;
}

#trumptimeline2 {
    display: flex;
    justify-content: center;
}

#trump7{
    width: 30vw;
    animation: spin 1s linear infinite;
}

#finalimage{
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
}

#alienlink{
    display: flex;
    justify-content: center;
}

.wrapper{
    animation: scale 4s linear infinite;
}

body{
    background-image: url("images ordener/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    animation: spin 2s linear infinite;
}